.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(79, 79, 163);
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 3rem;
  padding: 50px;
  border-radius: 10px;
  background-color: rgb(209, 202, 202);
  /* max-width: 600px; */
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.intro {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.intro h1 {
  text-align: center;
  padding: 0.2rem;
}

.waveButton { 
  background: rgb(79, 79, 163);
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
} 

.waveButton:hover {
  background: rgb(79, 79, 163, 0.9);
}

.loader {
  margin: 10px auto;
}

.successfull {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: rgba(66, 177, 66, 0.5);
  border-radius: 5px;
}

.mining-div {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.mining-div .loader, .mining-div p {
  margin: 0px; 
}

.metamask-install {
  background-color: rgb(209, 209, 99, 0.9); 
  margin: 2rem;
  border-radius: 10px;
  display: flex; 
  align-items: center; 
  justify-content: center;
} 

.metamask-install p {
  text-align: center; 
}

.connect-wallet {
  background: #8e9aaa; 
  border-radius: 10px; 
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
}

.form-input {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.form-input input {
  height: 22px; 
  margin: 0.6rem;
  border-radius: 5px;
  width: 70%;
  border: none;
}

@media all and (max-width: 480px) { 
  .form-input input {
    width: 90%;
  }
}

.waveButton-wave {
  background: rgb(79, 79, 163);
  cursor: pointer;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

.checkprev-button {
  background: rgb(126, 126, 153);
  cursor: pointer;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 30%; 
  margin: 0 auto;
}


@media all and (max-width: 480px) { 
    .checkprev-button {
      margin-top: 10px;
      width: 40%;
    }
}

.prevMessages-div { 
  background: rgb(184, 184, 190);
  border-radius: 5px;
  width: 50%; 
  overflow-x: scroll;
  margin: 10px;
}

.prevMessages-contianer {
  height: 60%; 
  overflow-y: scroll;
}

@media all and (max-width: 480px) { 
  .prevMessages-contianer {
    height: 100px; 
    overflow-y: scroll;
  }
}

@media all and (max-width: 480px) { 
  .prevMessages-div {
    width: 80%;
  }
}

.no-messages {
  width: 30%; 
  background-color: rgb(224, 129, 129); 
  border-radius: 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin: 30px auto;
} 

.no-messages p {
  text-align: center;
}

@media all and (max-width: 480px) { 
  .no-messages {
    width: 80%;
  }
}